{% extends "base.html" %}
{% block content %}

<div class="container mt-5">

    <h2>Edit Worker</h2>

    <div class="card">
        <div class="card-body">

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <input name="name" value="{{ worker.name }}" required class="form-control mb-2">
                <input type="date" name="dob" value="{{ worker.dob|date:'Y-m-d' }}" required class="form-control mb-2">
                <input name="phone" value="{{ worker.phone }}" required class="form-control mb-2">
                <input type="email" name="email" value="{{ worker.email }}" class="form-control mb-2">

                {% if worker.photo %}
                    <img src="{{ worker.photo.url }}" width="80"><br><br>
                {% endif %}

                <input type="file" name="photo" class="form-control mb-2">

                <button class="btn btn-success">Update Worker</button>

            </form>

        </div>
    </div>

</div>

{% endblock %}
