{% extends 'base.html' %}
{% block content %}

{% load static %}



<div class="container mt-5">

<h1>Attendance Records</h1>
<h4>Date: {{ today }}</h4>

<a href="{% url 'download_attendance' %}" class="btn btn-dark mb-3">
⬇ Download Attendance
</a>

{% for d in data %}

<div class="card mb-3">
<div class="card-header">
{{ d.slot.name }} ({{ d.slot.start_time }} - {{ d.slot.end_time }})
</div>

<div class="card-body">

{% if d.records %}
<ul>
{% for rec in d.records %}
<li>{{ rec.worker.name }}</li>
{% endfor %}
</ul>

{% else %}
<p>No one present in this slot</p>
{% endif %}

</div>
</div>

{% endfor %}

</div>

{% endblock %}
